In [1]:
from src.utils import load_img_info
import pandas as pd

TEST_ANN_PATH = "data/thermal_pose/coco_fmt/dataset/annotations/thermalPose_test.json"
VAL_ANN_PATH = "data/thermal_pose/coco_fmt/dataset/annotations/thermalPose_val.json"
TRAIN_ANN_PATH = "data/thermal_pose/coco_fmt/dataset/annotations/thermalPose_train.json"

Load image info, specifying file names, image id and dimensions

In [2]:
test_img_info = load_img_info(TEST_ANN_PATH, "test")
val_img_info = load_img_info(VAL_ANN_PATH, "val")
train_img_info = load_img_info(TRAIN_ANN_PATH, "train")
merged_img_info = pd.concat([train_img_info,val_img_info,test_img_info])
merged_img_info.sample(5)

                 file_name  height  width  image_id  split
218           IMG_7105.png     251    306       218  train
71         frame_06316.png     512    512        71    val
94   FLIR_video_03425.jpeg     453    227        94  train
227        FLIR_07497.jpeg     275    281       227  train
43         FLIR_08954.jpeg     512    640        43  train

Load annotation info, where each row corresponds to a specific annotation instance

In [3]:
from src.utils import load_ann_info
import pandas as pd
test_anns = load_ann_info(TEST_ANN_PATH, "test")
val_anns = load_ann_info(VAL_ANN_PATH, "val")
train_anns = load_ann_info(TRAIN_ANN_PATH,"train")
merged_anns = pd.concat([train_anns, val_anns, test_anns])
merged_anns.sample(5)

,annotation_id,iscrowd,image_id,category_id,num_keypoints,keypoints,bbox,segmentation,area,split
449,449,0,292,1,17,"[204.0, 82.2, 2, 206.4, 78.2, 2, 201.12, 77.9,...","[164.0, 65.0, 67.2, 173.6]","[[164.0, 65.0, 231.2, 65.0, 231.2, 238.6, 164....",11665.92,train
162,162,0,108,1,10,"[301.52, 0.87, 0, 309.06, 0.24, 0, 293.34, 0.2...","[226.0, 0.0, 140.92, 385.77]","[[226.0, 0.0, 366.92, 0.0, 366.92, 385.77, 226...",54362.71,val
306,306,0,197,1,17,"[537.4, 204.96, 2, 540.46, 202.67, 2, 533.97, ...","[508.02, 190.84, 53.05, 145.04]","[[508.02, 190.84, 561.07, 190.84, 561.07, 335....",7694.37,train
93,93,0,60,1,17,"[448.36, 178.14, 2, 451.09, 174.59, 1, 447.27,...","[439.07, 155.19, 54.92, 203.83]","[[439.07, 155.19, 493.99, 155.19, 493.99, 359....",11194.34,test
63,63,0,44,1,17,"[421.17, 267.92, 2, 416.14, 264.99, 2, 416.35,...","[392.03, 215.51, 134.18, 179.46]","[[392.03, 215.51, 526.21, 215.51, 526.21, 394....",24079.94,test

In [4]:
complete_anns = pd.merge(merged_img_info, merged_anns, on = ["image_id","split"], how = "inner")
complete_anns.head()

,file_name,height,width,image_id,split,annotation_id,iscrowd,category_id,num_keypoints,keypoints,bbox,segmentation,area
0,FLIR_video_02047.jpeg,134,138,0,train,0,0,1,16,"[118.62, 40.62, 2, 119.21, 38.56, 2, 118.04, 3...","[104.55, 31.67, 32.45, 84.33]","[[104.55, 31.67, 137, 31.67, 137, 116, 104.55,...",2736.51
1,image_000042.png,160,120,1,train,1,0,1,17,"[48.16, 33.11, 2, 48.66, 30.6, 2, 47.66, 31.1,...","[18.33, 18.67, 59.78, 105.33]","[[18.33, 18.67, 78.11, 18.67, 78.11, 124.0, 18...",6296.63
2,frame_03934.png,512,477,2,train,2,0,1,17,"[54.42, 57.24, 2, 56.89, 53.36, 2, 52.3, 53.71...","[24.73, 38.52, 58.31, 202.12]","[[24.73, 38.52, 83.04, 38.52, 83.04, 240.64, 2...",11785.62
3,frame_03934.png,512,477,2,train,3,0,1,17,"[123.9, 92.2, 2, 131.22, 87.8, 2, 118.54, 87.8...","[83.9, 56.1, 84.39, 293.66]","[[83.9, 56.1, 168.29, 56.1, 168.29, 349.76, 83...",24781.97
4,frame_03934.png,512,477,2,train,4,0,1,17,"[248.29, 78.54, 1, 246.83, 73.66, 1, 251.71, 7...","[219.51, 52.68, 76.59, 241.95]","[[219.51, 52.68, 296.1, 52.68, 296.1, 294.63, ...",18530.95

In [22]:
import os
import shutil

YOLO_DATA_BASE_PATH = "data/thermal_pose/yolo_fmt/dataset"
COCO_DATA_BASE_PATH = "data/thermal_pose/coco_fmt/dataset"

def create_folder_structure():
    os.mkdir(YOLO_DATA_BASE_PATH)
    anns_path = os.path.join(YOLO_DATA_BASE_PATH, "labels")
    imgs_path = os.path.join(YOLO_DATA_BASE_PATH, "images")
    os.mkdir(anns_path)
    os.mkdir(os.path.join(anns_path,"train"))
    os.mkdir(os.path.join(anns_path,"val"))
    os.mkdir(os.path.join(anns_path,"test"))
    os.mkdir(imgs_path)
    os.mkdir(os.path.join(imgs_path,"train"))
    os.mkdir(os.path.join(imgs_path,"val"))
    os.mkdir(os.path.join(imgs_path,"test"))

In [23]:
from src.utils import coco_bbox_to_yolo
import os
import shutil

def convert_coco_row_to_yolo(data_row):
    coco_bbox = data_row["bbox"]
    yolo_bbox = coco_bbox_to_yolo(data_row["width"],data_row["height"],coco_bbox)
    return yolo_bbox

if os.path.isdir(YOLO_DATA_BASE_PATH):
    shutil.rmtree(YOLO_DATA_BASE_PATH)
    
create_folder_structure()

grouped_anns = complete_anns.groupby(["image_id","split"])
for group, group_data in grouped_anns:
    filename = group_data["file_name"].iloc[0]
    split = group_data["split"].iloc[0]
    img_src = os.path.join(f"{COCO_DATA_BASE_PATH}/{split}/{filename}")
    img_yolo_anns = group_data.apply(lambda data_row: convert_coco_row_to_yolo(data_row), axis=1).to_numpy().tolist()

    new_imgname = filename.split(".")[0] + ".jpg"
    out_labelname = filename.split(".")[0] + ".txt"

    img_dst = f"{YOLO_DATA_BASE_PATH}/images/{split}/{new_imgname}"
    label_dst = f"{YOLO_DATA_BASE_PATH}/labels/{split}/{out_labelname}"
    
    shutil.copy(img_src, img_dst)
    with open(f"{YOLO_DATA_BASE_PATH}/{split}.txt", "a") as file:
        file.write(f"./images/{split}/{new_imgname}\n")

    with open(label_dst, 'w') as file:
        suffix = "\n"
        for idx, ann in enumerate(img_yolo_anns):
            if idx == len(img_yolo_anns) -1:
                suffix = ""
            file.write(f"{ann[0]} {ann[1]} {ann[2]} {ann[3]} {ann[4]}{suffix}")